<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Harddisk Form</title>
    <style>
        .jumbotron {
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50%,-50%);
                border: 1px dashed deeppink;
              }
                </style>
</head>
<form>
    <h1>Harddisk Form </h1>
    <div class="form-group">
        <label for="Brand">Brand</label>
        <input type="text" class="form-control" id="Brand" placeholder="Brand">
    </div>
    <div class="form-group">
        <label for="Capacity">Capacity</label>
        <input type="text" class="form-control" id="Capacity" placeholder="Capacity">
    </div>
    <div class="form-group">
        <label for="Device_size">Standard</label>
        <input type="text" class="form-control" id="Device_size" placeholder="Device_size">
    </div>
    <div class="form-group">
        <label for="RW_Speed">Price</label>
        <input type="text" class="form-control" id="RW_Speed" placeholder="RW_Speed">
    </div>
    <div class="form-group">
        <label for="Technology">CartURL</label>
        <input type="text" class="form-control" id="Technology" placeholder="Technology">
    </div>
    <div class="form-group">
        <label for="Price">ImgURL</label>
        <input type="text" class="form-control" id="Price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="CartURL">ImgURL</label>
        <input type="text" class="form-control" id="CartURL" placeholder="CartURL">
    </div>
    <div class="form-group">
        <label for="ImgURL">ImgURL</label>
        <input type="text" class="form-control" id="ImgURL" placeholder="ImgURL">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</html>